@use '../abstracts' as abs;
@use 'sass:map';

.container {
  width: 100%;
  max-width: map.get(abs.$breakpoints-container, 'large');
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  &__inner {
    background-color: #0d1216;
  }
}
