@use '../abstracts/' as abs;

.block {
  &--hero {
    display: flex;
    width: 100%;
    max-height: 926px;
    height: 100vh;
    border-bottom: abs.$border;
    margin-bottom: abs.$spacing-large;
    &__description {
      font-size: 26px;
      line-height: 150%;
      text-align: justify;
    }
    &__star {
      position: absolute;
      top: 53px;
      left: -6px;
    }
    &-left {
      position: relative;
      background-color: abs.$left-hero-block;
      width: 100%;
      max-width: 854px;
      height: 100%;
      padding: abs.$spacing-large abs.$spacing-large abs.$spacing-large abs.$spacing-medium;
      border-right: abs.$border;
    }
    &-right {
      width: 100%;
      max-width: 586px;
      height: 100%;
      background-color: abs.$right-hero-block;
      padding: abs.$spacing-medium;
    }
  }
}
