@use '../abstracts/' as abs;
@use 'sass:color';

.stacked-button {
  display: inline-block;
  position: relative;

  &--absolute {
    position: absolute;
    bottom: 119px;
    right: -257px;
  }
  &__item {
    position: absolute;
    top: 0;
    left: 0;
    border: abs.$border;
  }
  &__top {
    position: relative;
    z-index: 2;
    background-color: abs.$color-orange;

    padding: 22px 68px 22px 26px;
  }
  &__layer {
    transform: translate(15px, 10px);
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1;
    transition: 0.2s ease;
  }
  &__content {
    display: flex;
    align-items: center;
    gap: 80px;
  }
  &__text {
    font-weight: 700;
    line-height: 100%;
    font-size: 28px;
    letter-spacing: 0.03em;
  }
  &:hover {
    & .stacked-button__top {
      background-color: color.scale(abs.$color-orange, $lightness: 5%);
    }
    & .stacked-button__layer {
      transform: translate(8px, 7px);
    }
    & .stacked-button__icon {
      animation: icon-pop 0.3s ease-out 1;
    }
  }
  &:active {
    & .stacked-button__top {
      background-color: color.scale(abs.$color-orange, $lightness: 10%);
    }
    & .stacked-button__layer {
      transition: 0;
      transform: translate(2px, 3px);
    }
    & .stacked-button__icon {
      transform: translate(5px, 3px);
    }
  }
}
