@keyframes icon-bump {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(5px, 3px);
  }
  90% {
    transform: translate(-2px, -1px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}