@charset "UTF-8";

// 1. Vendors
@use 'vendors/normalize';

// 2. Base stuff
@use 'base/reset';
@use 'base/base';
@use 'base/fonts';
@use 'base/helpers';
@use 'base/typography';

// 3. Layout-related sections
@use 'layout/footer';
@use 'layout/header';
@use 'layout/container';
@use 'layout/body';
@use 'layout/main';
@use 'layout/navigation';
@use 'layout/wrapper';

// 4. Components
@use 'components/button';
@use 'components/heading';
@use 'components/LogoBox';
@use 'components/block';
@use 'components/title';
@use 'components/OffsetTitle';
@use 'components/label';
@use 'components/StackedBlock';
@use 'components/StackedButton';

// 5. Pages
@use 'pages/home';

// 6. Themes
@use 'themes/default';
